body,
html {
    padding: 0;
    height: 100%;
    font-family: "PT Sans";
    font-size: 12px;
}

html {
    overflow: hidden;
    background-color: transparent;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.orange {
    color: #DED7BE;
    text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
    font-weight: 300;
    white-space: nowrap;
}

.white {
    color: #fff;
    text-shadow: -1px 0 2px #333, 0 1px 2px #333, 1px 0 2px #333, 0 -1px 2px #333;
    font-weight: 300;
    white-space: nowrap;
}

.blue {
    color: #E2EBF5;
    text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
    font-weight: 300;
    white-space: nowrap;
}

.green {
    color: #ebf5e2;
    text-shadow: -1px 0 3px #7aa221, 0 1px 3px #7aa221, 1px 0 3px #7aa221, 0 -1px 3px #7aa221;
    font-weight: 300;
    white-space: nowrap;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

thead {
    border-bottom: 1px solid #DED7BE;
}

th,
td {
    padding: 0.25rem 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fl { text-align: left; }
.fc { text-align: center; }
.fr { text-align: right; }

.mono { font-family: "PT Mono" }

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.4);
}
.player {
    background-color: rgba(0, 0, 0, 0.4) !important;
}



.fable>.meter {
    height: 0px;
    margin: 0;
    padding: 0;
    overflow: visible;
    flex: 0;
    z-index: -1;
}

.meter div {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
}

/* convert to js */
.meter .bline {
    height: 1px;
    background: fuchsia;
    bottom: 0;
}

.meter .tline {
    height: 1px;
    background: fuchsia;
    top: 0;
}

.meter .bar,.meter .rbar,.meter .fbar {
    background: fuchsia;
    top: 0;
    bottom: 0;
    opacity: 0.8;
}

.meter .fbar {
    border-radius: 0.5em;
}
.meter .rbar {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}