body,
html {
    padding: 0;
    height: 100%;
    font-family: "PT Sans";
    font-size: 14px;
}

html {
    overflow: hidden;
    background-color: transparent;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

thead {
    border-bottom: 1px solid #DED7BE;
}

th,
td {
    padding: 0.25rem 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

button {
    border: 1px solid #72d;
    box-shadow: inset 0 1px 0 #102;
    color: #fff;
    background: linear-gradient(to bottom, #314, #415);
    padding: 0.5rem 1rem;
    cursor: pointer;
}