#window {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0.75rem 0.75rem rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    margin: 1rem;
    padding: 0.25rem;
}

#resize {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    background: #E2EBF5;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px #217AA2;
}

.btngrp {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.btngrp button {
    background: transparent;
    height: 1.5em;
    width: 2em;
    color: #e2ebf5;
    cursor: pointer;
    border: none;
}

.btngrp button:hover {
    color: #a7d0ff;
    border-color: #a7d0ff;
}
